# Exclude these files from the git repo
*~
*[Tt]humbs.db
*.bak
*.log
*.swp
.cvs
.DS_Store
.htaccess
.svn
*.Trashes
Bing*.xml
env_local
env_staging
google*.html
readme.html
robots.txt
sitemap*.*
sitemap.*
sitemap.xml
sitemap.xml.gz
Thumbs.db
wp-config.php
.sass-cache/
node_modules/
public/assets/advanced-cache.php
public/assets/cache/*
public/assets/backup/*
public/assets/backups/*
public/assets/backup-db/*
public/assets/blogs.dir/*
public/assets/cache/*
public/assets/cache/supercache/*
public/assets/upgrade/*
public/assets/uploads/*
public/assets/wp-cache-config.php

# Include these files in previously blocked directories
!public/wp-content/uploads/.htaccess
